<div>
	<h1>Choose The best Layout for your blog</h1>
	<main>
		<div >
			<a href="">
				<img src="assets/images/layout1.jpg" >
				<h1>Layout 1</h1>
			</a>
		</div>
		<div>
			<a href="">
				<img src="assets/images/layout2.jpg" >
				<h1>Layout 1</h1>
			</a>
		</div>
		<div>
			<a href="">
				<img src="assets/images/layout3.jpg" >
				<h1>Layout 1</h1>
			</a>
		</div>
		<div>
			<a href="">
				<img src="assets/images/layout4.jpg" >
				<h1>Layout 1</h1>
			</a>
		</div>
		<div>
			<a href="">
				<img src="assets/images/layout5.jpg" >
				<h1>Layout 1</h1>
			</a>
		</div>
		<div>
			<a href="">
				<img src="assets/images/layout6.jpg" >
				<h1>Layout 1</h1>
			</a>
		</div>
		<div>
			<a href="">
				<img src="assets/images/layout7.jpg" >
				<h1>Layout 1</h1>
			</a>
		</div>
		<div>
			<a href="">
				<img src="assets/images/layout8.png" >
				<h1>Layout 1</h1>
			</a>
		</div>
		<div>
			<a href="">
				<img src="assets/images/layout9.jpg" >
				<h1>Layout 1</h1>
			</a>
		</div>
	</main>
</div>