<div>
<main>
	<div  class="div1">
		<img src="assets/images/google.jpg" >
	</div>
	<div  class="div2" >
		<h1>Turn your passion into profit.</h1>
		<h3>AdSense is a free, simple way to earn money by placing ads on your website. Learn now how to become eligible to use it.</h3>
		<h3>Your blog doesn't currently qualify for AdSense.</h3>
		<a href="#">HOW TO QUALIFY FOR ADSENSE <i class="fa fa-arrow-right"></i> </a>
	</div>
	<div  class="div2" >
		<img src="assets/images/coffe.jpg" class="coffe">
	</div>
</main>	
</div>