body
{
	margin:0;
	padding: 0;
	box-sizing: 0;
	overflow: hidden;
}
.home_header
{
	background-color:#4583aa ;
	color:white;
	margin-bottom:0px;
}
.home_header1
{
	font-size: 30px;
}
.home_header a
{
	color: white;
}
.home_header_main
{
	
	padding:20px 20px 20px 20px;
	display: grid;
	grid-template-rows:60px 250px 400px;
}
.home_header3
{
	margin-top:70px;
	position: relative;
}
.content
{
	position: absolute;
	left:45%;
	top:30%;
	color: black;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	padding:7px 7px 7px 7px;
	background: rgba(182,204,237,1);
background: -moz-linear-gradient(left, rgba(182,204,237,1) 0%, rgba(34,120,226,1) 51%, rgba(113,165,239,1) 73%, rgba(182,204,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(182,204,237,1)), color-stop(51%, rgba(34,120,226,1)), color-stop(73%, rgba(113,165,239,1)), color-stop(100%, rgba(182,204,237,1)));
background: -webkit-linear-gradient(left, rgba(182,204,237,1) 0%, rgba(34,120,226,1) 51%, rgba(113,165,239,1) 73%, rgba(182,204,237,1) 100%);
background: -o-linear-gradient(left, rgba(182,204,237,1) 0%, rgba(34,120,226,1) 51%, rgba(113,165,239,1) 73%, rgba(182,204,237,1) 100%);
background: -ms-linear-gradient(left, rgba(182,204,237,1) 0%, rgba(34,120,226,1) 51%, rgba(113,165,239,1) 73%, rgba(182,204,237,1) 100%);
background: linear-gradient(to right, rgba(182,204,237,1) 0%, rgba(34,120,226,1) 51%, rgba(113,165,239,1) 73%, rgba(182,204,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6cced', endColorstr='#b6cced', GradientType=1 );
}
.home_header3 #mainimg
{
position: absolute;
left:35%;
top:25%;
max-width:30%;
max-height:100%;

}
.home_header3 #adv1
{
	border-radius:50%;
	height:50%;
	position: absolute;
	bottom:120%;
}

.home_header3 #adv2
{
	border-radius:50%;
	height:50%;
	position: absolute;
	bottom:70%;
	left:10%;
}
.home_header3 #mainimgback
{
	position: absolute;
left:30%;
height:115%;

}

.home_header3 #adv3
{
	border-radius:50%;
	height:50%;
	position: absolute;
	top:30%;
}
.home_header3 #adv4
{
	border-radius:50%;
	height:50%;
	position: absolute;
	bottom: 100%;
	right: 0%;
}
.home_header3 #adv5
{
	border-radius:50%;
	height:50%;
	position: absolute;
	bottom:50%;
	right: 15%;
}
.home_header3 #adv6
{
	border-radius:50%;
	height:50%;
	position: absolute;
	bottom:10%;
	right:0%;
}
.home1
{
	background-color:#ff8000;
	color: white;
	position: relative;
	overflow:hidden;
}
.home_main1
{
	
	display: grid;
	grid-template-columns:550px 300px;
	grid-template-rows:250px 500px;
	margin-left:80px;
}

.home1  #cook
{
	width:700px;
	position: absolute;
	left:50%;
}
.home1  #travel
{
	width:500px;
	position: absolute;
	left:70%;
	top:60%;
}
.home1  #brush
{

	position: absolute;
	left:50%;
	top:10%;
}
.home1  #brush1
{
	max-height:25%;
	position: absolute;
	left:15%;
	top: 5%;	
}
.home2
{
	background-color: #bc382e;
	color: white;
	position: relative;
	overflow:hidden;
}
.home2_main
{
	display: grid;
	grid-template-rows: 500px;
	grid-template-columns: 500px 500px;
}
.home2 .home2_div1
{
	text-align:center;
	margin-left:150px;
	margin-top:200px;
}
#domain
{
	width:500px;
	position: absolute;
	left:60%;
	top:20%;
}
.home3
{
	background-color: #388d80;
	position: relative;
	color:white;
}
.home_main3
{
display: grid;
grid-template-rows: 500px;
grid-template-columns:500px 500px; 
}
#earn
{
	margin-top:100px;
}
.earn_content
{
	position:absolute;
	top:20%;
	left:40%;
}
#dollar
{
	max-width:3%;
	position: absolute;
	left:30%;
	top:20%;
}
#dollar1
{
	max-width:3%;
	position: absolute;
	left:25%;
	top:40%;
}
#dollar2
{
	max-width:4%;
	position: absolute;
	left:25%;
	top:60%;
}
#dollar3
{
	max-width:10%;
	position: absolute;
	left:10%;
	top:60%;
}

#cal
{
	position: absolute;
	right:0%;
	top:60%;
}
.footer
{
	background-color:#1d2b34;
	color:white;
}
.footer a
{
color:white;
}
.footer_main
{
	display:grid;
	grid-template-rows:200px 300px;
	grid-template-columns:300px 400px 200px;
	
}
.footer_main div
{
	margin-top:100px;
	margin-left:100px;
}
#terms li
{
	display: inline-block;
}
.imgs
{
  
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;

}

@keyframes example {
  
}

.home_header
{
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 7s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@keyframes example
 {
  0%   {background-color: red;}
  25%  {background-color: pink;}
  50%  {background-color: blue;}
  100% {background-color: green;}

}

