 ul li
{
    display:inline-block;
}
.second ul li
{
	margin-left: 10px;
	margin-right:10px;
}

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";